
@import 'partials/variables';

/*GENERAL*/

body{
  margin: 0;
  font: $primary-font-properties;
  color: $primary-color;
}

a{
  color: $primary-color;
  text-decoration: none;
}

button{
  cursor: pointer;
}