
@import 'partials/variables';

/*HEADER*/

.header{
  @extend %shared-layout-justify;
  height: 118px;
  box-shadow: 0 2px 5px rgb($shadow-overlay-theme-color, 0.06);
  padding: 15px 0 0 0;
}

.header__container{
  display: grid;
  justify-content: space-between;
  width: 1170px;
  grid-template-columns: 108px 1fr;
  column-gap: 62px;
  padding: 0 0 0 0;
}

.header__logo-container{
  @extend %shared-layout-align;
}

.header__main-links-container{
  @extend %shared-layout-between;
  flex-direction: column;
}

.header__top-links-container{
  @extend %shared-layout-between;
  font-size: 14px;
  padding: 0 40px 0 0;
}

.header__top-left-links-container{
  @extend %shared-layout-align;
}

.header__top-right-links-container{
  @extend %shared-layout-align;
}

.header__hamburger-menu-icon{
  width: 22px;
  margin-left: 10px;
}

.header__top-links{
  margin: 0 30px 0 0;
}

.header__bottom-links{
  margin: 0 25px 0 0;
}

.header__link-text{
  line-height: 0px;
}

.header__down-arrow-small-icon{
  margin-left: 5px;
  width: 9px;
}

.header__down-arrow-large-icon{
  margin-left: 5px;
  width: 12px;
}

.header__search-icon{
  width: 16px;
  height: 15px;
  margin-right: 5px;
}

.header__search-link{
  @extend %shared-layout-align;
  justify-content: center;
  text-decoration: none;
}

.header__location-pin-icon{
  width: 17px;
  margin-right: 5px;
}

.header__location-link{
  @extend %shared-layout-align;
  justify-content: center;
  color: $location-link-color;
  text-decoration: underline;
}

.header__order-now-button{
  background-color: $main-buttons-background-color;
  border: none;
  border-radius: 4px;
  padding: 8px 25px;
  font-size: 16px;
  line-height: 24px;
}

.header__overlay{
  @extend %shared-layout-align;
  justify-content: center;
  position: fixed;
  background-color: rgb($shadow-overlay-theme-color, 0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  z-index: -1;
}

.header__order-now-button:active .header__overlay{
  background-color: rgb($shadow-overlay-theme-color, 0.4);
  z-index: 50;
}

.header__order-now-button:active .header__modal{
  opacity: 1;
  z-index: 50;
}

.header__modal{
  @extend %shared-layout-align;
  flex-direction: column;
  background-color: white;
  width: 780px;
  height: 820px;
  border-radius: 4px;
  box-shadow: -15px 15px 30px rgb($shadow-overlay-theme-color, 0.25), 
              15px 15px 30px rgb($shadow-overlay-theme-color, 0.25);
  opacity: 0;
  z-index: -1;
}

.header__modal-title{
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0 40px 0;
}

.header__modal-radio-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  align-items: center;
}

.header__modal-icons{
  width: 120px;
  margin: 66px 0 36px 0;
}

.header__radio-title{
  font-size: 12px;
  margin-bottom: 8px;
}

.header__radio-button{
  width: 24px;
  height: 24px;
}

.header__modal-disclaimer{
  font-size: 11px;
  width: 400px;
  margin-top: 32px;
  text-align: left;
  line-height: 16px;
}

.header__modal-faded{
  color: rgb($shadow-overlay-theme-color, 0.3);
}

.header__modal-read-more{
  @extend %shared-layout-align;
  margin-top: 8px;
  flex-direction: column;
}

.header__modal-downarrow{
  width: 16px;
  margin-top: 8px;
}

.header__flexbox-modal-fake-buttons{
  @extend %shared-layout-align;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 48px;
}

.header__modal-button1{
  @include theme;
  background-color: $modal-button-background-color;
  border-radius: 4px;
  padding: 13px 57px;
  font-size: 16px;
  line-height: 24px;
}

.header__modal-button2{
  background-color: $main-buttons-background-color;
  border: none;
  border-radius: 4px;
  padding: 13px 57px;
  font-size: 16px;
  line-height: 24px;
}

.header__bottom-links-container{
  display: flex;
  padding-bottom: 15px;
}

.header__bottom-links-container ul{
  display: inline;
  padding: 0;
}

.header__bottom-links-container li{
  list-style-type: none;
  display: inline;
}